.actionsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  // isolation: isolate;
  // position: absolute;
  width: 100%;
  background: #ffffff;
  border: 1px solid #8a38f5;
  border-radius: 8px;
}

.actionHeaderContainer {
  width: 100%;
  height: 48px;
  background-color: rgba(138, 56, 245, 0.1);
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}

.actionHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 12px;
  gap: 0px;
  height: 48px;
  border-radius: 8px 8px 0px 0px;
}

.totalActions {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  display: flex !important;
  align-items: center !important;
  letter-spacing: 0.6px !important;
  color: #8a38f5 !important;
}

.AddActionContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.zeroActionTextOne {
  display: block;
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 28px !important;
  line-height: 38px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  color: #808080 !important;
  flex: none !important;
  order: 2 !important;
  flex-grow: 0 !important;
  z-index: 2 !important;
}

.zeroActionTextTwo {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 28px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  letter-spacing: 0.8px !important;
  text-transform: uppercase !important;
  color: #808080 !important;
  flex: none !important;
  order: 3 !important;
  flex-grow: 0 !important;
  z-index: 2 !important;
}

.emojiPickerIconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 40px;
  height: 40px;
  border-radius: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.sendIconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.reorderIconContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 0px;
  gap: 10px;
  width: 24px;
  height: 40px;
  opacity: 0;
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
}

.showOtherActionLink {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  text-decoration-line: underline;
  color: #0000ee;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
}

.searchBoxContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 12px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.sortByText {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.2px;
  color: #343434;
}

.totalReact {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.4px;
  color: #fbbc05;
  margin-left: 4px !important;
  margin-right: 8px !important;
}


.actionSubToolbarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 18px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  // justify-content: space-between;
  width: calc(100% - 0px);
}

.menu-item {
  color: #343434;
  letter-spacing: 0.6px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.menu-item:hover {
  background-color: rgba(206, 239, 255, 0.3) !important;

}