// Main Container
.mainContainer {
  width: 100% !important;
  height: 100vh !important;
  padding: 0 !important;
  margin: 0 !important;
  background: '#F5F5F5' !important;
}
.textTypeOne {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  letter-spacing: 0.4px !important;
  text-transform: uppercase !important;
  color: #ee7538 !important;
  flex: none !important;
  order: 0 !important;
  flex-grow: 0 !important;
}
.textTypeTwo {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 20px !important;
  line-height: 28px !important;
  text-align: center !important;
  letter-spacing: 0.5px !important;
  color: #4e4e4e !important;
  flex: none !important;
  order: 1 !important;
  flex-grow: 0 !important;
}
.textTypeThree {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 24px !important;
  line-height: 32px !important;
  letter-spacing: 0.5px !important;
  color: #2c69a1 !important;
}
.textTypeFour {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 24px !important;
  line-height: 32px !important;
  letter-spacing: 0.5px !important;
  color: #4e4e4e !important;
  flex: none !important;
  order: 0 !important;
  flex-grow: 0 !important;
}
// Pulse Check Not Selected
.text1 {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  text-align: center !important;
  letter-spacing: 0.6px !important;
  color: #4e4e4e !important;
}
.viewWorldCould {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  letter-spacing: 0.4px !important;
  text-transform: uppercase !important;
  color: #159add !important;
  cursor: pointer !important;
}
.participantsResponded {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.6px;
  color: #4e4e4e;
}
