.h1Regular {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 32px !important;
  line-height: 120% !important;
}

.h1SemiBold {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 32px !important;
  line-height: 120% !important;
}

.h2Regular {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 29px !important;
  line-height: 120% !important;
}

.h2SemiBold {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 29px !important;
  line-height: 120% !important;
}

.h3Regular {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 26px !important;
  line-height: 120% !important;
}

.h3SemiBold {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 26px !important;
  line-height: 120% !important;
}

.h4Regular {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 23px !important;
  line-height: 120% !important;
}

.h4SemiBold {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 23px !important;
  line-height: 120% !important;
}

.h5Regular {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 20px !important;
  line-height: 130% !important;
}

.h5SemiBold {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 120% !important;
}

.h6Regular {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 120% !important;
}

.h6SemiBold {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 120% !important;
}

.bodyRegular {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 125% !important;
  letter-spacing: 0.006em !important;
}

.bodyItalic {
  font-family: 'Poppins' !important;
  font-style: italic !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 125% !important;
  letter-spacing: 0.006em !important;
}

.bodySemiBold {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 120% !important;
}

.buttonLabel {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 120% !important;
  leading-trim: both !important;
  text-edge: cap !important;
  letter-spacing: 0.03em !important;
  text-transform: uppercase !important;
}

.captions {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 120% !important;
}

.captionsSemiBold {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 120% !important;
}

.tinyText {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 13px !important;
  line-height: 120% !important;
}

.tinyTextSemiBold {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 13px !important;
  line-height: 120% !important;
}
