.h1Regular {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  color: #000000;
}

.h1SemiBold {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  color: #000000;
}

.h2Regular {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 120%;
  color: #000000;
}

.h2SemiBold {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 29px;
  line-height: 120%;
  color: #000000;
}

.h3Regular {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 120%;
  color: #000000;
}

.h3SemiBold {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 120%;
  color: #000000;
}

.h4Regular {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  color: #000000;
}

.h4SemiBold {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 120%;
  color: #000000;
}

.h5Regular {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #000000;
}

.h5SemiBold {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #000000;
}

.h6Regular {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #000000;
}

.h6SemiBold {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #000000;
}

.bodyRegular {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.006em;
  color: #000000;
}

.bodyItalic {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.006em;
  color: #000000;
}

.bodySemiBold {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
}

.buttonLabel {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  leading-trim: both;
  text-edge: cap;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
}

.captions {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #000000;
}

.captionsSemiBold {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: #000000;
}

.tinyText {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 120%;
  color: #000000;
}

.tinyTextSemiBold {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 120%;
  color: #000000;
}
