// Main Container
.mainContainer {
  width: 100% !important;
  height: 100vh !important;
  padding: 0 !important;
  margin: 0 !important;
}
// Retro Main Container align
.retroContainer {
  height: calc(100vh - 64px) !important;
  padding: 56px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  overflow-y: auto !important;
}

.textOne {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 20px !important;
  line-height: 28px !important;
  letter-spacing: 0.5px !important;
  color: #343434 !important;
  text-align: justify;
}
.textTwo {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  letter-spacing: 0.5px !important;
  line-height: 18px !important;
  text-align: center !important;
  color: #ee7538 !important;
  opacity: 0.8 !important;
}
.question {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 24px !important;
  letter-spacing: 0.5px !important;
  color: #4e4e4e !important;
  flex: none !important;
  order: 0 !important;
  flex-grow: 0 !important;
}
