@import './style.module.scss';
.primaryButton {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 10px 20px !important;
    border-radius: 24px !important;
}
.primaryButtonText {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: $PrimaryMain;
}
.secondaryButton {
    @extend .primaryButton ;
    background-color: $PrimaryMain !important;
}
.secondaryButtonText {
    @extend .primaryButtonText;
    color: #FAFAFA;
}
.alignCenter {
    text-align: center;
}
.detailCard {
    width: 180px;
    height: 180px;
}
.infoLink {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */

letter-spacing: 0.4px;
text-decoration-line: underline;
text-align: center;
/* Info */

color: #4285F4;
}
.pulseLineBlue {
    width: 31px;
    height: 0px;
    margin-top: 19px;
    border: 1px solid $PrimaryMain;
    background-color: $PrimaryMain;
}
.pulseLineGrey {
    width: 31px;
    height: 0px;
    margin-top: 19px;
    border: 1px solid $grey30;
    background-color: $grey30;
}
.identityWillbeConfidentialText {
font-weight: 400;
font-size: 14px;
line-height: 18px;
text-align: center;
letter-spacing: 0.4px;
color: #EE7538;
}
.popupNextBtn {
margin-right: 107px !important;
margin-bottom: 47px !important;   
margin-left: 423px !important;
width: 36px !important;
height: 20px !important;
font-family: 'Poppins' !important;
font-style: normal !important;
font-weight: 400 !important;
font-size: 16px !important;
line-height: 20px !important;
letter-spacing: 0.4px !important;
text-decoration-line: underline !important;
color: #4285F4 !important;
float: right !important;
}
.popupPrevBtn{
width: 70px !important;
height: 20px !important;
font-family: 'Poppins' !important;
font-style: normal !important;
font-weight: 400 !important;
font-size: 16px !important;
line-height: 20px !important;
letter-spacing: 0.4px !important;
text-decoration-line: underline !important;
color: #4285F4 !important;
    margin-left: 106px !important;
margin-bottom: 41px !important;  
 
}
.submitfeedback {
    margin-left: 394px !important;
padding: 10px 20px !important;
margin-bottom: 28px !important;  
background: #159ADD !important;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) !important;
border-radius: 24px !important;
}
@media print {
    body, html {
        height: 100%;
        overflow: visible !important;
        margin: 0px;
      }
      div {
        page-break-inside: avoid;
      }
    .page-break {
        clear: both;
        display: inline;
        margin-top: 100px;
    }
  }
*::-webkit-scrollbar {
    width: 9.19px;
    height: 94.9px
  }
  
  /* Track */
  *::-webkit-scrollbar-track {
    background: #f0f0f0; 
  }
   
  /* Handle */
  *::-webkit-scrollbar-thumb {
    background: #E3E3E3; 
  }
  
//   /* Handle on hover */
//   *::-webkit-scrollbar-thumb:hover {
//     background: #555; 
//   }