@import './style.module.scss';
.primaryButton {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 10px 20px !important;
    border-radius: 24px !important;
}
.primaryButtonText {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: $PrimaryMain;
}
.secondaryButton {
    @extend .primaryButton ;
    background-color: $PrimaryMain !important;
}
.secondaryButtonText {
    @extend .primaryButtonText;
    color: #FAFAFA;
}
.alignCenter {
    text-align: center;
}
.detailCard {
    width: 180px;
    height: 180px;
}
.infoLink {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */

letter-spacing: 0.4px;
text-decoration-line: underline;
text-align: center;
/* Info */

color: #4285F4;
}
.pulseLineBlue {
    width: 31px;
    height: 0px;
    margin-top: 18px;
    border: 2px solid $PrimaryMain;
    background-color: $PrimaryMain;
}
.pulseLineGrey {
    width: 31px;
    height: 0px;
    margin-top: 18px;
    border: 2px solid $grey30;
    background-color: $grey30;
}
*::-webkit-scrollbar {
    width: 9.19px;
    height: 94.9px
  }
  
  /* Track */
  *::-webkit-scrollbar-track {
    background: #f0f0f0; 
  }
   
  /* Handle */
  *::-webkit-scrollbar-thumb {
    background: #E3E3E3; 
  }
  
//   /* Handle on hover */
//   *::-webkit-scrollbar-thumb:hover {
//     background: #555; 
//   }