//colors
$secondaryMain : #EE7538;
$info : #4285F4;
$primaryDark : #2C69A1;
$grey : #F0F0F0;
$PrimaryMain : #159ADD;
$m-80 :80px;



:export {
    secondaryMain: $secondaryMain;
    info: $info;
    primaryDark: $primaryDark;
    grey: $grey;
    m_80:$m-80;
  }