@import "./../../style.module.scss";

.containedButton {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 6px 6px !important;
  gap: 8px !important;
  background: $PrimaryMain !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 24px !important;
  text-transform: uppercase !important;
  border: 1px solid $PrimaryMain !important;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25)) !important;
}

.saveButtonText {
  font-family: "Poppins" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  letter-spacing: 0.4px !important;
  text-transform: uppercase !important;
  color: #fafafa !important;
  flex: none !important;
  order: 0 !important;
  flex-grow: 0 !important;
}

.outlinedButton {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 6px 16px !important;
  gap: 8px !important;
  border-radius: 24px !important;
  text-transform: uppercase !important;
  background: #fafafa !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) !important;
}

.customizeButtonText {
  font-family: "Poppins" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  letter-spacing: 0.4px !important;
  text-transform: uppercase !important;
  color: $PrimaryMain !important;
  flex: none !important;
  order: 0 !important;
  flex-grow: 0 !important;
}

.buttonWithIcon {
  box-sizing: border-box !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 4px 12px !important;
  gap: 8px !important;
  width: 104px !important;
  height: 28px !important;
  border: 1px solid $PrimaryMain !important;
  background: white !important;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25)) !important;
  border-radius: 24px !important;
  flex: none !important;
  order: 1 !important;
  flex-grow: 0 !important;
  font-family: "Poppins" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
}

.buttonWithIcon:disabled {
  border: 1px solid gray !important;
  opacity: 0.5 !important;
}

.buttonWithIconWithNoBorder {
  background: transparent !important;
  font-family: "Poppins" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
 
}
