@import './../../style.module.scss';

.containedButtonSmall {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 12px !important;
  gap: 8px !important;
  background: #159add !important;
  border-radius: 24px !important;
  color: #ffffff;
}

.containedButtonMedium {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 12px 16px !important;
  gap: 16px !important;
  background: #159add !important;
  border-radius: 24px !important;
  color: #ffffff;
}

.containedButtonLarge {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 12px 20px !important;
  gap: 16px !important;
  background: #159add !important;
  border-radius: 24px !important;
  color: #ffffff;
}

.containedButtonSmall:disabled {
  background: #cccccc !important;
  color: #ffffff !important;
}

.containedButtonMedium:disabled {
  background: #cccccc !important;
  color: #ffffff !important;
}

.containedButtonLarge:disabled {
  background: #cccccc !important;
  color: #ffffff !important;
}

.outlinedButtonSmall {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 12px !important;
  gap: 8px !important;
  border: 1px solid #159ADD !important;
  border-radius: 24px !important;
  background: #fafafa !important;
  color: #159add;
}

.outlinedButtonMedium {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 12px 16px !important;
  gap: 16px !important;
  border: 1px solid #159ADD !important;
  border-radius: 24px !important;
  background: #fafafa !important;
  color: #159add !important;
}

.outlinedButtonLarge {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 12px 20px !important;
  gap: 16px !important;
  border: 1px solid #159ADD !important;
  border-radius: 24px !important;
  background: #fafafa !important;
  color: #159add !important;
}

.outlinedButtonSmall:disabled {
  border: 1px solid #cccccc !important;
  color: #cccccc !important;
}

.outlinedButtonMedium:disabled {
  border: 1px solid #cccccc !important;
  color: #cccccc !important;
}

.outlinedButtonLarge:disabled {
  border: 1px solid #cccccc !important;
  color: #cccccc !important;
}

.textButtonSmall {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 12px !important;
  gap: 8px !important;
  background: #ffffff !important;
  border-radius: 24px !important;
  color: #159add;
}

.textButtonMedium {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 12px 16px !important;
  gap: 16px !important;
  background: #ffffff !important;
  border-radius: 24px !important;
  color: #159add;
}

.textButtonLarge {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 12px 20px !important;
  gap: 16px !important;
  background: #ffffff !important;
  border-radius: 24px !important;
  color: #159add;
}

.buttonWithIcon {
  box-sizing: border-box !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 4px 12px !important;
  gap: 8px !important;
  width: 104px !important;
  height: 28px !important;
  border: 1px solid $PrimaryMain !important;
  background: white !important;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25)) !important;
  border-radius: 24px !important;
  flex: none !important;
  order: 1 !important;
  flex-grow: 0 !important;
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
}

.buttonWithIcon:disabled {
  border: 1px solid gray !important;
  opacity: 0.5 !important;
}

.buttonWithIconWithNoBorder {
  background: transparent !important;
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
}
